/* .parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  
  top: 0;
  left: 0;
  border: 1px solid #000000;
}
.image2 {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid #000000;
} */